<%= render partial: "navbar",locals:{current: "home"}%>
<%= render partial: "search", locals:{cat: @category.id}%>
<img class="relative w-40" src="<%=url_for(@category.image)%>" alt="">
<div class='text-center p-4'>
<a href="#" ><%=@category.name%></a> | <a href="/categories" class='text-blue-600'>All Categories</a>
</div>
<div class='p-10 flex flex-wrap'>
<%= render partial: "item", collection:@items%>
</div>